div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.pagewrap {
	overflow: hidden;
	@media screen and (min-width: $tabwidth) {
		overflow: auto;
	}
}
.oxygen {font-family: 'Oxygen', sans-serif;}
.raleway {font-family: 'Raleway', sans-serif;}
/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}
.cf:before,.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align: center;}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body {
	font-size: 15px;
	line-height: 1.5;
}
/* Navigation */
.site-content nav {
	clear: both;
	line-height: 2;
	overflow: hidden;
}
#nav-above {
	padding: 24px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous,
.previous-image {
	float: left;
	width: 50%;
}
.nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 50%;
}
.nav-single + .comments-area,
#comment-nav-above {
	margin: 48px 0;
}

/* Logo */
.logo , h1.logo {
	display: block;
	width: 250px;
	margin: 0 auto;
	@media screen and (min-width: $tabwidth) {
		width: 230px;
		margin: 0 0;
	}
	@media screen and (min-width: $midwidth) {
		width: 380px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 400px;
	}
	a {
		margin:25px 0 20px;
		@media screen and (min-width: $tabwidth) {
			margin: 23px 0;
		}
	}
	a, img {
		display: block;
		width: 100%;
		float: left;
	}
}
body.subpage {
	.logo , h1.logo {
		@media screen and (min-width: $deskwidth) {
			width: 320px;
		}
	}
}

/* Footer  */
.siteby {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
		
}
#footer {
	width: 100%;
	background-color:#636060;
	font-size: 16px;
	color: #FFF;
}
#footer-cont {

	margin: 10px auto 0px auto;
	font-size: 14px;
	color: #FFF;
	padding: 20px;
}
#footer-cont a {
	color: #FFF;
	text-decoration:none;
}

footer[role="contentinfo"] {
	border-top: 1px solid #ededed;
	clear: both;
	font-size: 12px;
	line-height: 2;
	max-width: 960px;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 0;
}
footer[role="contentinfo"] a {
	color: #686868;
}
footer[role="contentinfo"] a:hover {
	color: #21759b;
}


.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.header-wrapper {
	position: relative;
	z-index: 100;
	padding-bottom: 23px;
	@media screen and (min-width: $tabwidth) {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.row {
		@media screen and (min-width: $tabwidth) {
			@include flexbox();
			@include flexbox-wrap(wrap);
			@include flexbox-direction(row);
			@include flexbox-align-items(center);
		}		
	}
	.left-column {
		width: 100%;
		float: left;
		@media screen and (min-width: $tabwidth) {
			width: 39.9%;
		}
	}
	.right-column {
		width: 100%;
		float: left;
		@media screen and (min-width: $tabwidth) {
			width: 59.9%;
		}
	}
}