.main-navigation {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		float: left;
	}

	.main-menu-wrapper {
		height: 0;
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		@include transition(all ease-out .3s);
		@media screen and (min-width: $tabwidth) {
			display: block;
			margin-top: 0;
			padding-top: 0;
			padding-bottom: 0;
			border-top: none;
			border-bottom: none;
			height: auto;
			max-height: inherit;
			overflow: visible;
			opacity: 1;
		}
	}
	&.menu-open .main-menu-wrapper {
		display: block;
		margin-top: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 2px solid $color-red;
		border-bottom: 2px solid $color-red;
		height: auto;
		max-height: inherit;
		overflow: visible;
		opacity: 1;
	}

	a {
		display: inline-block;
		text-decoration: none;
		color: $color__text-main;
		@include transition(all ease-out .3s);
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		li {
			position: relative;
			text-align: center;
			@media screen and (min-width: $tabwidth) {
				text-align: left;
			}
		}
	}
	.nav-menu {
		position: relative;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			float: right;
			right: -10px;
			text-align: right;
		}
	}
	.nav-menu a {
		display: block;
		font-size: 15px;
		@media screen and (min-width: $tabwidth) {
			font-size: 14px;
		}
	}
	.nav-menu > li > a {
		font-size: 20px;
		font-size: 20px;
		padding: 5px 10px 3px;
		@media screen and (min-width: $tabwidth) {
			font-size: 16px;
			padding: 5px 10px;
		}
	}
	.nav-menu > li {
		@media screen and (min-width: $tabwidth) {
			float: none;
			display: inline-block;
		}
	}
	.nav-menu li:hover > a {
		opacity: 0.4;
	}
	.nav-menu li.current_page_parent:hover > a,
	.nav-menu li.current_page_parent > a,
	.nav-menu li.current_page_item:hover > a,
	.nav-menu li.current_page_item > a {
		opacity: 1;
		color: $color-red;
	}

	.nav-menu ul {
		display: block;
		border-top: 1px dotted #adadad;
		border-bottom: 1px dotted #adadad;
		padding: 6px 0;
		text-align: left;
		@include transition(all ease-out .3s);
		a {
			padding: 3px 10px;
			line-height: 1.3;
			&:hover {
				opacity: 0.5;
				background: #f7f7f7;
			}
		}
		@media screen and (min-width: $tabwidth) {
			position: absolute;
			left: 0;
			height: 0;
			max-height: 0;
			overflow: hidden;
			opacity: 0;
			margin-top: -3px;
			width: 200px;
			border-top: none;
			border-bottom: none;
			padding: 0 0;
			a {
				padding: 7px 10px 5px;
				background: #FFF;
				&:hover {
					opacity: 1;
					background: #f7f7f7;
				}
			}
			ul {
				left: 200px;
				top: 0;
			}
		}
	}
	
	.nav-menu li:hover > ul {
		@media screen and (min-width: $tabwidth) {
			border-top: 2px solid $color-red;
			padding-top: 5px;
			padding-bottom: 5px;
			height: auto;
			max-height: 500px;
			overflow: visible;
			opacity: 1;
			margin-top: 0;
			background: #FFF;
			box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.24);
		}
	}
	.nav-menu ul li.menu-item-has-children > a {
		@media screen and (min-width: $tabwidth) {
			&:after {
				content:"";
				width: 0;
				height: 0;
				border-left: 4px solid $color__text-main;
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
				position: absolute;
				right: 10px;
    			top: 12px;
			}
		}
	}
}
.menu-toggle {
	display: block;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
	span {
		cursor: pointer;
		display: inline-block;
		width: 40px;
    	height: 35px;
    	text-indent: -999em;
    	position: relative;
    	i, i:before, i:after {
    		display: block;
    		width: 100%;
    		height: 3px;
    		background: $color-red;
    		position: absolute;
    		@include transition(all ease-out .3s);
    	}
    	i {
    		top: 16px;
    	}
    	i:before, i:after {
    		content:"";
    	}
    	i:before {
    		top: -10px;
    	}
    	i:after {
    		top: 10px;
    	}
    	&.open {
    		i {
    			background: transparent;
    		}
    		i:before {
    			transform: translateY(10px) rotate(45deg);
    		}
    		i:after {
    			transform: translateY(-10px) rotate(-45deg);
    		}
    	}
	}
}