$size__site-main: 100%;
$size__site-sidebar: 25%;
$xswidth: 480px;
$tabwidth: 600px;
$midwidth: 900px;
$deskwidth: 1200px;

@mixin xs { @media (min-width: $xswidth) { @content; } }
@mixin tab { @media (min-width: $tabwidth) { @content; } }
@mixin mid { @media (min-width: $midwidth) { @content; } }
@mixin desk {  @media (min-width: $deskwidth) { @content; } }